@import "../../data/styles.css";

/* General Page Styles */
.page-content {
	background-color: #f9f9f9;
	padding: 0;
}

.homepage-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 45px;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 1024px) {
	.homepage-after-title {
		flex-direction: column;
	}

	.homepage-projects,
	.homepage-articles,
	.homepage-works {
		flex-basis: auto;
		margin-left: -25px;
		margin-right: -25px;
	}
}
